body {
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  font-family: 'Roboto', sans-serif; }

.logos__facebook {
  color: #3b5998; }

.logos__instagram {
  color: #d6249f; }

.logos__youtube {
  color: #c4302b; }

.pruebaextend, .pruebaextend2 {
  text-decoration: underline gray; }

.pruebaextend2 {
  text-decoration: underline #dfdfdf; }

.centrar {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

button {
  display: flex;
  justify-content: center;
  text-align: center; }

.comentarios {
  display: flex;
  justify-content: center; }

iframe {
  max-width: 100%; }

img {
  transition: 2s;
  max-width: 100%; }

img:hover {
  border-radius: 5%;
  transform: scale(1.05); }

footer p {
  display: flex;
  justify-content: center;
  margin: 5px 5px 5px 2px; }

.logo__facebook {
  position: fixed;
  right: 60px;
  bottom: 2rem;
  transform: rotate(-15deg); }

.logo__instagram {
  position: fixed;
  right: 40px;
  bottom: 2rem; }

.logo__youtube {
  position: fixed;
  right: 20px;
  bottom: 2rem;
  transform: rotate(15deg); }

.form-floating {
  display: flex;
  justify-content: center; }

.pie__info {
  margin: 0px 5px 5px 2px; }

form fieldset {
  display: flex;
  justify-content: center; }

main.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px;
  padding: 3px;
  border-radius: 0.5%; }
