@import "body";
@import "maps";
@import "extend";
@import "mixin";


*{
    margin: 0;
    padding: 0;

}




button{
    display: flex;
    justify-content: center;
    text-align: center;
}

.comentarios{
    display: flex;
    justify-content: center;
}

iframe{
    max-width: 100%;
}

img{
    transition:1s;
    max-width: 100%;
}

img:hover{
    border-radius: 5%;
    transform: scale(1.02);

}



footer{
    p{
        display: flex;
        justify-content: center;
        margin: 5px 5px 5px 2px;
        }
}

.logo__facebook{
    position: fixed;
    right: 60px;
    bottom: 2rem;
    transform: rotate(-15deg);
}

.logo__instagram{
    position: fixed;
    right: 40px;
    bottom: 2rem
}

.logo__youtube{
    position: fixed;
    right: 20px;
    bottom: 2rem;
    transform: rotate(15deg);
}

.form-floating{
    display: flex;
    justify-content: center;
}


.pie__info{
    margin: 0px 5px 5px 2px;
    

}

form{
    fieldset{
        display: flex;
        justify-content: center;
    }
}

main.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px;
    padding: 3px;
    border-radius: 0.5%;
}

